@{
    ViewData["Title"] = "Dashboard";
}

<section>
    <div>
        <div class ="container">
            <div style="text-align: center;">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
</section>