@* @using NSE.WebApp.MVC.Extensions
@model NSE.WebApp.MVC.Models.ProdutoViewModel *@
@model EMS.WebApp.MVC.Models.RegisterUser
@{
    // ViewData["Title"] = Model.Name;
}
<section class="section-content padding-y bg container">
    <div class="card">
        <div class="row no-gutters align-items-center">
            <aside class="col-md-6">
                <article class="content-body">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <h2 class="title">Serviço 1</h2>
                            <p class="card-text">Ideal para profissionais liberais.</p>
                        </div>

                        <div class="card-body text-center">
                            <div class="">
                                <p class="">=> Item 1</p>
                                <p class="">=> Item 2</p>
                                <p class="">=> Item 3</p>
                            </div>
                        </div>

                        <div class="card-body mb-3 text-center">
                            <var class="price h4">R$20,00</var>
                        </div>
                        </div>
                </article>
            </aside>
            <main class="col-md-6 border-left">
                <article class="content-body">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Seja bem vindo!</h4>

                        <form asp-controller="Authentication" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                            <input type="hidden" asp-for="PlanId" value="@ViewData["PlanId"]" />
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Cpf"></label>
                                <input asp-for="Cpf" class="form-control" />
                                <span asp-validation-for="Cpf" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">Já tem uma conta?<a asp-controller="Identidade" asp-action="Login"> Entrar</a></div>
                </article>
            </main>
        </div>
    </div>
</section>